* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

main {
    background-color: #b3b3b334;
    border-radius: 10px;
    padding: 50px;
    width: 400px;
    margin: 80px 0 0 0;
}

h1 {
    margin: 0 0 15px 0;
}

label {
    font-weight: 700;
    margin: 10px 0 0 10px;
}

input {
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    margin: 5px;
}

select {
    padding: 10px;
    width: 100%;
    border-radius: 20px;
}

.button {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    transition: 1s;
}

.button:hover {
    transform: scale(1.1);
}

.enviar {
    background-color: #51ce1f;
}

.limpar {
    background-color: #c71515;
}